*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-weight: 400;
}
body{
    font-family: "Inconsolata", sans-serif;
}

.text-else{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
}
.mt-140{
    margin-top: 140px;
}
.mt-50{
    margin-top: 50px;
}
.hidden{
    display: none;
}

/* header */
.header{
    height: 70px;
    width: 100%;
    background-color:var(--bg-color);
    color: var(--white-color);
    display: flex;
    line-height: 70px;
    position: fixed;
    z-index: 100;
}
.header__left{
    display: flex;
    flex: 4;
}
.header__left h1{
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 200;
}
.header__left span{
    color:#7ac64d; 
}
.header__left p{
    margin: 0 20px;
    font-size: 1.2rem;
    padding: 0 25px;
    opacity: 0.7;
    background-color: var(--black-color);
}
.header__right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 1.5rem;
    min-width: 100px;
}
.header__right i{
    opacity: 0.7;
    flex: 1.5;
    padding-top: 25px;
}
.header__right i:nth-child(4){
    background-color: #7ac64d;
    opacity: 1;
}
.header__right i:hover{
    background-color: var(--black-color);
    opacity: 1;
    
}


    /* SUB-HEADER */
#main{
    width: 72%;
    margin: auto;
    padding-top: 70px;
}
#sub-header{
    height: 80px;
    width: auto;
    line-height: 80px;
    display: flex;
}
.sub-header__left{
    display: flex;
    flex: 1;
}
.sub-header__left span{
    color:var(--pink-color);
}
.sub-header__right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 25px;
    font-size: 2rem;
}
.btn-menu:hover{
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
}
.menu{
    width: 150%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 10;
    display: flex;
    display: none;
}
.menu-items{
    background-color: var(--white-color);
    width: 280px;
    height: 100%;
    position: fixed;
    z-index: 10;
    float:right;
    font-size: 1.2rem;
    flex: 1;
}
.down{
    margin-top: 110px;
}
.menu-items li{
    list-style-type: none;
    margin-bottom: 20px;
}
.menu-items li a{
    text-decoration: none;
    color: var(--black-color);
    margin-left: 50px;
}
.menu-items .light{
    color: var(--pink-color);
}
.menu-items li:hover a{
    color: var(--pink-color);
}
.icon-exit{
    font-size: 25px;
    margin-top: 80px;
    position: fixed;
    z-index: 10;
    flex: 1;
    margin-left: 250px;
}
#check{
    position: fixed;
    z-index: 10;
    margin-top: 80px;
}

 /* intro */


.intro__header span{
    color:var(--pink-color);
}

.intro__header{
    margin: 20px 0 20px 0;
}

.intro>p{
    font-weight: 600;
    font-size: 1.2rem;
    word-spacing: 2px;
}

.intro__line{
    height: 50px;
    width: 250px;
    line-height: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    margin-top: 30px;
    font-size: 1.1rem;
    border: 1px solid;
}
.intro__line:hover{
    background-color: var(--white-color);
    color: var(--black-color);
    
}

/* <!-- CONTENT --> */

/* portfolio */

.portfolio{
    width: 100%;
    display: flex;
    flex-shrink: inherit;
    justify-content: center;
}
.portfolio .product__item{
    position: relative;
    max-width: 370px;
}
.product__item article{
    color: #ccc;
}

.portfolio .product__item-img img{
    width: 100%;
    min-width: 340px;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 45px;
    transition: .6s ease;
    position: relative;
    overflow: hidden;
}
.portfolio .product__item:hover{
    cursor: pointer;
    transform: scale(0.94);
    transition: 1s ease;
}

.product__more{
    position: absolute;
    transition: 0.6s ease;
    opacity: 0;
    bottom: 10px;
    right: 30%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    z-index: 2;
}
.product__link{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 2;
    border-radius: 5px;
    color: var(--white-color);
}
.product__link i{
    margin: 10px;
}


@keyframes More{
    0%{
        bottom: 10px; right: 0%;
    }
    100%{
        bottom: 10px;
        right: 30%;
        opacity: 1;
    }
}
@keyframes Menu{
    0%{
        margin-left: -280px;
    }
    100%{
        margin-left: 0px;
    }
}
.product__item:hover .product__more{
    animation: More linear 0.6s;
    opacity: 1;
}

.product__item:hover .product__link{
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.product__more p{
    font-size: 1.1rem;
    font-weight: 600;
}
.product__more article{
    font-size: 0.9rem;
}
.hidden{
    display: none;
}
/* Detail */
.icon-exit-detail{
    float : right;
    font-size: 30px;
    margin-top: 30px;
}
.portfolio__detail{
    display: flex;
    width: 100%;
    height: auto;
    text-align: left;
}
.portfolio__detail-img{
    flex : 1;
}
.portfolio__detail-img img{
    width: 550px
}
.portfolio__detail-info{
    margin-left: 40px;
}
.detail__info-address{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.detail__info-address .title{
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.detail__info-address article, .portfolio__detail-info>p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    word-spacing: 1px;
    line-height: 30px;
}
.text-color{
    color: var(--pink-color);
}
.visit a{
    text-decoration: none;
    font-size: 1.2rem;
}
@keyframes Detail{
    0%{
        margin-top: 200px;
    }
    100%{
        margin-top: 140px;
    }
}
/* services */

.services__category{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.text-center{
    text-align: center;
}
.services__category i{
    font-size: 2.5rem;
    position: relative;
}
.services>p{
    font-size: 1.2rem;
    line-height: 45px;
}
.services__category i::after{
    content:"";
    width: 35px;
    height: 35px;
    background-color: var(--pink-color);
    border-radius: 50%;
    position: absolute;
    margin: 10px -25px;
    z-index: -1;
}
.services__category-item {
    margin: 30px 0;
    font-size: 1.1rem;
    line-height: 25px;
}
.services__category-item p{
    font-weight: 600;
    margin: 20px 0 20px 0;
}
.services__category-item article{
    color: #aaa;
    word-spacing: 3px;
    font-weight: 500;
}
.services__category-item:hover{
    transform: scale(0.9);
    transition: 1s ease;
    outline: var(--pink-color);
}
.services__category-item:hover article{
    color: var(--pink-color);
}
/* about */

.about{
    font-size: 1.2rem;
    line-height: 25px;
}

.about__info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.about__info-img{
    flex:1;
}
.about__info-img::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background-color: rgba(255,46,99,0.07);
    margin: -35px -215px;
}
.info{
    width: 100%;
    flex:1;
    flex-direction: column;
    text-align: justify;
    font-size: 1rem;
    position: relative;
    flex-wrap: wrap;
}

.about__info-img img{
    width: 90%;
    min-width: 350px;
    height:auto;
}
.mb-25{
    margin-bottom: 25px;
}
.info__work{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.info__work-senior,.info__work-engineer{
    flex: 1;
}
.senior-item{
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
}
.senior-item i{
    flex:1;
}
.senior-item__right{
    flex: 4;
    color: #191919;
}
.senior-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.senior-item i{
    flex:1;
}
.senior-item__right p:first-child{
    font-weight: 600;
}
.senior-item__right p:last-child{
    color:#aaa;
    font-size: 1rem;
}
.senior-item:hover{
    color: var(--pink-color);
}
.hight{
    height: 120px;
    width: 300px;
    color: var(--white-color);
    background-color: var(--pink-color);
    margin: -270px 220px;
    position: absolute;
}

.hight .hight__title{
    font-size: 1.3rem;
    padding: 15px 0 10px 35px;
}
.hight p{
    font-size: 1rem;
    padding-left: 35px;
} 
 /* skills */
.skill__category-word{
}
.skills{
    margin-top: 200px;
}

.skills h2, .testimonials h2{
    font-size: 2rem;
}

.skills p, .testimonials p{
    font-size: 1.1rem;
    margin-top: 20px;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.container .card{
    flex: 1;
    position: relative;
    width: 220px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.container .card .percent{

    position: relative;
    width: 150px;
    height: 150px;
}
.container .card .percent svg{
    position : relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .percent svg circle{
    position: absolute;
    width: 100px;
    height: 100px;
    fill: transparent;
    stroke-width: 2;
    stroke:#ccc;
    transform: translate(5px, 5px);
    margin-top: 20px !important;
}
.dot{
    position: absolute;
    inset: 0px;
    width: 90px;
    height: 90px;
    z-index: 10;
    margin: 50px 12px;
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
content:"";
position: absolute;
top:-5px;
left: 25%;
transform: translateX(-40%);
width: 5px;
height: 5px;
border-radius: 50%;
background: var(--clr) ;
z-index: 1;
}
.card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray:290;
    stroke-dashoffset: calc(290 - (290 * var(--num))/100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}
 @keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
.percent .number{
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    /* animation-delay: 2.5s; */
    margin-top: -160px !important;
    margin-left: -35px;
    font-weight: 600;
}
.number h3{
    position: absolute;
}
.number p{
    letter-spacing: 2px;
    margin-top: 180px;
}
/* testimonials */
.testimonials{
    overflow: hidden;
    width: 100%;
}

.testimonials__person{
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s linear;
    margin: 40px 0;

}
.person{
    flex: 1;
    margin: 10px 8px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 20px;
    padding: 20px 8px ;
}

.person .img img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.person:hover{
    border:1px solid var(--pink-color);
}
.designation{
    color: #ccc;
    font-size: 1.1rem;
    margin: 10px 0;
}
.person .name{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1rem;
}
.person .article{
    line-height: 25px;
}
.nav{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: -270px -20px;
}
/* Blog */
.blog{
    margin-top: 600px;
    font-size: 1.2rem;
}
.blog h3{
    font-size: 2rem;
}
.blog__items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__items .item{
    flex: 1;
    margin: 40px 5px;
    font-size: 1.1rem;
}
.blog__items .item img{
    width: 100%;
    min-width: 240px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}
.blog__items .item img:hover{
    transform: scale(0.95);
    transition:all 0.5s;
    cursor: pointer;
}
.item span{
    color: #ccc;
}
.item p{
    font-weight: 600;
    line-height: 35px;
}
.item article{
    font-size: 1rem;
}

/* contact */
.contact h3{
    font-size: 2rem;
}
.contact p{
    font-size: 1.1rem;
}
.contact__content{
    display: flex;
    /* font-family: "Inconsolata", sans-serif; */
}
.contact__form{
    min-width: 500px;
    margin-right: 20px;
}
.contact__form input{
    height: 50px;
    border: none;
    border-bottom: 1px solid; 
    font-family: "Inconsolata", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.contact__map{
    margin-top: 50px;
    max-width: 500px;
}
.line1{
    display: flex;
    justify-content: space-between;
}
.w50{
    width: 47%;
}
.w100{
    width: 100%;
}
textarea{
    border: none;
    font-size: 1.2rem;
    border-bottom: 1px solid; 
    font-family: "Inconsolata", sans-serif;
}
.contact__form input:focus, textarea:focus{
    outline: none;
    border-bottom: 2px solid var(--pink-color); 
}
button{
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 12px;
    margin-top: 15px;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.2rem;
    border: none;
}
button:hover{
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
}
/* footer */
.footer{
    background-color: var(--bg-color);
    width: 100%;
    height: auto;
    color: var(--white-color)
}
.footer__category{
    display: flex;
    justify-content: space-around;
}
.footer__category-item ul li{
    font-size: 1.1rem;
    list-style-type: none;
    line-height: 40px;
}
.footer__category-item ul li a{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
}
.footer__category-item ul li a:hover{
    opacity: 1;
}
.footer__category-item h2{
    margin: 80px 0 40px 0;
    font-size: 1.2rem;
}
.connect{
    display: flex;
    justify-content: space-evenly;
}
.connect i{
    font-size: 1.3rem;
    position: relative;
    z-index: 1;
}
.connect i::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--pink-color);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-75%, -25%);
}
.connect i:hover{
    opacity: 0.7;
}
.footer>p{
    text-align: center;
    padding: 80px 0;
    font-size: 1.1rem;

}
